Assignment-20
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

In [1]:
#1

test1 = 'This is a test of the emergency text system.'


with open('test.txt', 'w') as file:
    file.write(test1)

In [2]:
#2

with open('test.txt', 'r') as file:
    test2 = file.read()

if test1 == test2:
    print("test1 and test2 are the same.")
else:
    print("test1 and test2 are different.")

test1 and test2 are the same.

In [3]:
#3
import csv


data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]


with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file 'books.csv' has been created.")

CSV file 'books.csv' has been created.

In [ ]:
#4
import sqlite3


conn = sqlite3.connect('books.db')


cursor = conn.cursor()


create_table_sql = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
);
'''
cursor.execute(create_table_sql)


conn.commit()
conn.close()

print("SQLite database 'books.db' and table 'books' have been created.")

In [ ]:
#5
import sqlite3
import csv


conn = sqlite3.connect('books.db')

cursor = conn.cursor()


with open('books.csv', 'r', newline='') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  

    for row in csv_reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))


conn.commit()
conn.close()

print("Data from 'books.csv' has been inserted into the 'books' table.")

In [ ]:
#6
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()


cursor.execute("SELECT title FROM books ORDER BY title ASC")


titles = cursor.fetchall()


for title in titles:
    print(title[0])


conn.close()

In [ ]:
#7
import sqlite3

conn = sqlite3.connect('books.db')


cursor = conn.cursor()

cursor.execute("SELECT * FROM books ORDER BY year")


books = cursor.fetchall()


for book in books:
    print("Title:", book[0])
    print("Author:", book[1])
    print("Year:", book[2])
    print()


conn.close()

In [ ]:
#8
from sqlalchemy import create_engine


db_url = "sqlite:///books.db"


engine = create_engine(db_url)


connection = engine.connect()
result = connection.execute("SELECT title FROM books")
for row in result:
    print(row['title'])


connection.close()

In [ ]:
#9
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')
fields = r.hgetall('test')
fields = {key.decode('utf-8'): value.decode('utf-8') for key, value in fields.items()}

print(fields)

In [ ]:
#10
import redis
r = redis.Redis(host='localhost', port=6379, db=0)
incremented_value = r.hincrby('test', 'count', 1)
print("Updated count:", incremented_value)